---
import Menu from './Menu.astro';
import Navbar from './Navbar.astro';
import ThemeIcon from './ThemeIcon.astro';

const { activeItem } = Astro.props;
---

<header>
  <div>
    <ThemeIcon />
    <Menu />
  </div>
  <Navbar activeItem={activeItem}></Navbar>
</header>

<style>
  div {
    display: flex;
    justify-content: space-between;
  }
</style>
